@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "nord";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: oklch(59.435% 0.077 254.027);
  --color-primary-content: oklch(11.887% 0.015 254.027);
  --color-secondary: oklch(69.651% 0.059 248.687);
  --color-secondary-content: oklch(13.93% 0.011 248.687);
  --color-accent: oklch(77.464% 0.062 217.469);
  --color-accent-content: oklch(15.492% 0.012 217.469);
  --color-neutral: oklch(45.229% 0.035 264.131);
  --color-neutral-content: oklch(89.925% 0.016 262.749);
  --color-info: oklch(69.207% 0.062 332.664);
  --color-info-content: oklch(13.841% 0.012 332.664);
  --color-success: oklch(76.827% 0.074 131.063);
  --color-success-content: oklch(15.365% 0.014 131.063);
  --color-warning: oklch(85.486% 0.089 84.093);
  --color-warning-content: oklch(17.097% 0.017 84.093);
  --color-error: oklch(60.61% 0.12 15.341);
  --color-error-content: oklch(12.122% 0.024 15.341);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@font-face{
  font-family: "Montserrat-Bold";
  src:local("MontserratAlternates-Bold"),
  url('src/sources/fonts/Montserrat Alternates/Montserrat_Alternates/MontserratAlternates-Bold.ttf') 
}

@font-face{
  font-family: "Montserrat";
  src:local("MontserratAlternates-Regular"),
  url('src/sources/fonts/Montserrat Alternates/Montserrat_Alternates/MontserratAlternates-Regular.ttf') 
}

@font-face{
  font-family: "Montserrat-Medium";
  src:local("MontserratAlternates-Medium"),
  url('src/sources/fonts/Montserrat Alternates/Montserrat_Alternates/MontserratAlternates-Medium.ttf') 
}

@theme {
  --inset-shadow-md: inset 0 2px 3px rgba(255, 255, 255, 0.25); 
  
}

@layer components {
  .highlighter {
    @apply rounded-md;
  @apply border-none;
  @apply shadow-md;
  @apply inset-shadow-md;
  @apply shadow-[inset_-4px_-4px_8px_rgba(0,0,0,0.1),inset_2px_2px_2px_rgba(255,255,255,0.3)];
  @apply shadow-[4px_4px_12px_rgba(0,0,0,0.1)];
  @apply m-4 mb-0 mt-0 pl-6 pr-6;
    
  }
}

@utility btn {
  @apply rounded-full;
  @apply border-none;
  @apply shadow-md;
  @apply inset-shadow-md;
  @apply shadow-[inset_-4px_-4px_8px_rgba(0,0,0,0.1),inset_2px_2px_2px_rgba(255,255,255,0.3)];
  @apply shadow-[4px_4px_12px_rgba(0,0,0,0.1)];
  @apply m-4 mb-0 mt-0 pl-6 pr-6;
  @apply hover:shadow-[inset_4px_4px_8px_rgba(0,0,0,0.1),inset_-2px_-2px_8px_rgba(255,255,255,0.1)];
}
@utility card {
 
  @apply border-none;
  @apply bg-base-100;
  @apply shadow-md;
  @apply inset-shadow-md;
  @apply shadow-[inset_-4px_-4px_8px_rgba(0,0,0,0.1),inset_2px_2px_2px_rgba(255,255,255,0.3)];
  @apply shadow-[4px_4px_12px_rgba(0,0,0,0.1)];
 
 
}



